@using Application.Dtos
@model BasketDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-xl-9 col-lg-8 col-md-8 mb-md-0 mb-3">
            <div class="checkout-section shadow-around">
                <div class="checkout-step">
                    <ul>
                        <li class="active"><span>سبد خرید</span></li>
                        <li>
                            <span>نحوه ارسال و پرداخت</span>
                        </li>
                        <li>
                            <span>اتمام خرید و ارسال</span>
                        </li>
                    </ul>
                </div>
                <div class="checkout-section-content">
                    <div class="cart-items">

                        @foreach (var item in Model.Items)
                        {
                            <div class="cart-item py-4 px-3">
                                <div class="item-thumbnail">
                                    <a href="#">
                                        <img src="@item.ImageUrl" alt="item">
                                    </a>
                                </div>
                                <div class="item-info flex-grow-1">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">
                                                @item.CatalogName
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="item-detail">
                                        <ul>

                                            <li>
                                                <i class="far fa-shield-check text-muted"></i>
                                                <span>گارانتی ۱۸ ماهه</span>
                                            </li>
                                            <li>
                                                <i class="far fa-store-alt text-muted"></i>
                                                <span> باگتو </span>
                                            </li>
                                            <li>
                                                <i class="far fa-clipboard-check text-primary"></i>
                                                <span>موجود در انبار</span>
                                            </li>
                                        </ul>
                                        <div class="item-quantity--item-price">
                                            <div class="item-quantity">
                                                <div class="num-block">
                                                    <div class="num-in">
                                                        <span class="plus"></span>
                                                        <input type="text" class="in-num" onchange="SetQuantity('@item.Id')" id="quantity-@item.Id" value="@item.Quantity" readonly="">
                                                        <span class="minus dis"></span>
                                                    </div>
                                                </div>
                                                <form method="post" asp-controller="Basket" asp-action="RemoveItemFromBasket">
                                                    <input name="ItemId" type="hidden" value="@item.Id" />

                                                    <button type="submit" class="item-remove-btn mr-3">
                                                        <i class="far fa-trash-alt"></i>
                                                        حذف
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="item-price">
                                                @{var price = (item.UnitPrice * item.Quantity);

                                                    <text> <p>@price.ToString("n0")</p></text>
                                                }
                                                <span class="text-sm mr-1">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="shadow-around pt-3">
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="text-muted">قیمت کالاها (@Model.Items.Count)</span>
                    <span class="text-muted">
                        @Model.Items.Sum(p => p.UnitPrice * p.Quantity).ToString("n0")
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="text-muted">تخفیف کالاها</span>
                    <span class="text-danger">
                        (۲٪) ۵۱۰,۰۰۰
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                <hr>
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="font-weight-bold">جمع</span>
                    <span class="font-weight-bold">
                        @Model.Items.Sum(p => p.UnitPrice * p.Quantity).ToString("n0")
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                <hr>
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="font-weight-bold">مبلغ قابل پرداخت</span>
                    <span class="font-weight-bold">
                        @Model.Items.Sum(p => p.UnitPrice * p.Quantity).ToString("n0")
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                <div class="d-flex px-3 py-4">
                    <a asp-action="ShippingPayment" class="btn btn-danger btn-block py-2">ادامه فرایند خرید</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function SetQuantity(itemId) {
            var quantity = $("#quantity-" + itemId).val();
            $.ajax({
                type: "POST",
                url: "/basket/setquantity?basketItemId=" + itemId + "&&quantity=" + quantity,
                success: function () {
                    location.reload();
                }
            })
        }
    </script>
}